.title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 25px;
  text-decoration: underline;
}

.list {
  padding: 15px;
}

.item {
  margin-bottom: 15px;
  border-bottom: 1px solid;
}

.subtitle {
  margin-bottom: 8px;
  margin-left: 15px;
  font-weight: 600;
}

.text {
  margin-bottom: 5px;
}
